
<div id="footer_conteiner">

    دسترسی سریع
    فروشگاه اینترنتی پوشاک آی‌بولک
    <div style="display:flex">
        <ul >
            <li style="color:#f3b33a">
                قوانین
            </li>
            <li>
                مردانه
            </li>
            <li>
                درباره‌ما
            </li>
            <li>
                سوالات متداول
            </li>
            <li>
                پیگیری شکایات
            </li>
            <li>
                صفحه اصلی
            </li>
        </ul>
        <ul>
            <li>
                مردانه
            </li>
            <li>
                زنانه
            </li>
            <li>
                کودکانه
            </li>
            <li>
                تماس با ما
            </li>
            <li>
                شرایط مرجوعی
            </li>
        </ul>
        <ul>
            <li>
                آدرس فروشگاه
            </li>
            <li>
                گرگان، بلوار ناهارخوران، بالاتر از عدالت ۵۶، نرسیده به میدان گلشهر، فروشگاه آی‌بولک
            </li>
            <li>
                شماره‌های تماس
            </li>
            <li>
                01732534106-9
            </li>
        </ul>

    </div>
   


    

    

  
</div>