
<div style="direction:rtl;  margin-top:25px;">
    <img src="/images/ibolak-logo.png" width="60" height="60" style="margin-right:65px"/>

    <input type="search" class="search-input" name="search" placeholder="جستجو در آی بولک"/>
</div>